body
{
    overflow: scroll;
}

.brand-icon
{
    font-weight: normal;
}

.react-calendar__tile--active
{
    background: #0220b1;
}

.react-calendar__month-view__days__day--weekend
{
    color: #c21b37;
}

.react-calendar
{
    font-family: "GT-Walsheim-Regular", sans-serif;
}

.react-calendar__month-view__weekdays__weekday,.react-calendar__navigation__label
{
    font-family: "GT-Walsheim-Medium", sans-serif;
}

.fa-space:before
{
    font-weight: 900;
    width: 1em;
    content: "\00a0";
}


.btn.disabled
{
    cursor: not-allowed;
}


.fk-selector .fks-display.disabled
{
    background: #e8e8e8;
    cursor: not-allowed;
}

.data-grid tr.new-object,.data-grid tr.data.changed-object
{
    background: rgba(2, 177, 148, 0.4) !important;
}

.data-grid tr.deleted-object .form-control-plaintext
{
    color: #888 !important;
}
